html,
body {
  height: 100%;
  margin: 0;
  font-weight: 100;
  background-color: #55608f;
}
.container {
  background: linear-gradient(45deg, #49a09d, #5f2c82);
}
table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

#buttons{
    width: 98%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    color: wheat;
}

a:hover{
    color: #f2ae2f;
}

button{
    background-color: #15b279;
    margin-top: 10px;
    margin-right: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid transparent;
    color: white;
    padding: 4px 4px 3px 3px;
}
button:hover{
    background-color: #00000059;
}
button:active{
    transform: translate(0,0.3rem);
}

#loader-wrapper{
    position: absolute; 
    right: 50%;
    top: 50%;
    left: 50%;
}