html,
body {
  height: 100%;
  margin: 0;
  font-weight: 100;
  background-color: #55608f;
}
.container {
  background: linear-gradient(45deg, #49a09d, #5f2c82);
}
table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

#buttons{
    width: 98%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    color: wheat;
}

a:hover{
    color: #f2ae2f;
}

button{
    background-color: #15b279;
    margin-top: 10px;
    margin-right: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid transparent;
    color: white;
    padding: 4px 4px 3px 3px;
}
button:hover{
    background-color: #00000059;
}
button:active{
    transform: translate(0,0.3rem);
}

#loader-wrapper{
    position: absolute; 
    right: 50%;
    top: 50%;
    left: 50%;
}

@media screen and (max-width: 760px){
	
	#loader-wrapper{
    top: 48%;
    left: 37%;
}
  table, thead, tbody, th, td, tr { 
		display: block; 
	}

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td:nth-of-type(1):before { content: "API"; }
	td:nth-of-type(2):before { content: "Description"; }
	td:nth-of-type(3):before { content: "Auth"; }
	td:nth-of-type(4):before { content: "HTTPS"; }
	td:nth-of-type(5):before { content: "Cors"; }
	td:nth-of-type(6):before { content: "Link"; }
	td:nth-of-type(7):before { content: "Category"; }
}
